@font-face {
    font-family: estedad;
    src: url("../fonts/Estedad-Regular.woff2") format("woff2"),
         url("../fonts/Estedad-Regular.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    